/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
body {
  font-family: 'Montserrat', sans-serif;
}
.main-link {
  margin: 0 auto;
  font-size: 25px;
  padding: 30px;
}
.main-link:hover,
.main-link:focus {
  color: rgb(0, 213, 255);
}
.container {
  width: 408px;
  height: 296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
